@font-face {
    font-family: 'dejavu_sansbold';
    src: url('dejavusans-bold-webfont.woff2') format('woff2'),
    url('dejavusans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

